@charset "UTF-8";

.page-btn-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: 0px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;

  &:not(:disabled):hover {
    color: darkblue;
    text-decoration: none;
    background-color: #ddd;
    border-color: #007bff;
  }

  &:focus {
    z-index: 2;
    outline: 0;
    box-shadow: #eee;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: lightgrey;
    cursor: auto;
  }
}

.page-text-field {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: 0px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;

  &:not(:disabled):hover {
    color: darkblue;
    text-decoration: none;
    background-color: #ddd;
    border-color: #007bff;
  }

  &:focus {
    z-index: 2;
    outline: 0;
    box-shadow: #eee;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:disabled {
    cursor: auto;
  }
}