.page-btn-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: 0px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .page-btn-link:not(:disabled):hover {
    color: darkblue;
    text-decoration: none;
    background-color: #ddd;
    border-color: #007bff; }
  .page-btn-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: #eee; }
  .page-btn-link:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .page-btn-link:disabled {
    color: lightgrey;
    cursor: auto; }

.page-text-field {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: 0px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .page-text-field:not(:disabled):hover {
    color: darkblue;
    text-decoration: none;
    background-color: #ddd;
    border-color: #007bff; }
  .page-text-field:focus {
    z-index: 2;
    outline: 0;
    box-shadow: #eee; }
  .page-text-field:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .page-text-field:disabled {
    cursor: auto; }
